.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.template-list {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    user-select: none;
    text-align: center;
    list-style: none;
    padding: 1em 0;
    margin: .1em;
    background: rgba(192, 225, 222, 0.27);
}

li:hover {
    background: rgb(215, 245, 242);
}

li.selected {
    background: rgba(133, 230, 225, 0.38);
}

li .template-params {
    display: none;
    background: #fdfdfd;
    padding: 0 0 .5em 0;
}

li.selected .template-params{
    display: block;
}

.description{
    font-style: italic;
    margin: 1em 0;
    padding: 1em;
    background: rgba(95, 209, 255, 0.55);
}

.modal button{
    margin: 1em 0;
    padding: .5em 1em;
}

input{
    display: block;
    margin: auto;
}