<button (click)="showDiv(modal)">Templates</button>

<div #modal class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeDiv(modal)">&times;</span>
        <div class="template-list">
            <ul>
                <li *ngFor="let template of templates"
                    (click)="selectTemplate(template)"
                    [ngClass]="{selected: selectedTemplate == template}">
                    {{template.name}}
                    <div class="template-params">
                        <div class="description">
                            {{template.description}}
                        </div>
                        <form (ngSubmit)="executeTemplate(template)">
                            <div *ngFor="let param of template.params">
                                <span>{{param.description}}</span>
                                <input type="text" [(ngModel)]="param.value" [attr.title]="param.name">
                            </div>
                            <button type="submit">Execute</button>
                            <button type="button" (click)="copyDql(template)">Copy dql</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--<div class="dql-templates">-->
<!--<h3>Templates</h3>-->
<!--<ul>-->
<!--<li *ngFor="let template of templates">-->
<!--{{template.description}}<br>-->
<!--<button (click)="selectedTemplate = template">{{template.name}}</button>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="parameters" *ngIf="selectedTemplate!=null">-->
<!--<form (ngSubmit)="executeTemplate(selectedTemplate)">-->
<!--<input type="text" [(ngModel)]="param.value" *ngFor="let param of selectedTemplate.params">-->
<!--<br><button type="submit">Submit</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->