<div class="row">
    <div class="pagination" *ngIf="pageable != null && pageable.totalItems > pageable.perPage">
        <button (click)="changePage(1)">First</button>
        <button *ngFor="let page of pages(pageable.currentPage, (pageable.totalItems/pageable.perPage).ceil())"
                (click)="changePage(page)">{{page}}
        </button>
        <button (click)="changePage((pageable.totalItems/pageable.perPage).ceil())">Last</button>
    </div>
</div>
