.dql-input {
    width: 90%;
    margin: auto;
    font-size: 1.2em;
}

.dql-input-top-bar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: .1em;
}

.dql-input-top-bar button {
    margin: 0 .5em;
}

.quick-search {
    display: inline-block;
}

.dql-input .textarea {
    border: solid 1px #ccc;
    display: block;
    font-size: 1.5em;
    resize: vertical;
    width: 100%;
    height: 15em;
    max-height: 30em;
}

.dql-input .execute-btn {
    width: 100%;
}

.query-result {
    position: relative;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/loading.gif") no-repeat center;
}
