<div class="dql-input">
    <div class="dql-input-top-bar">
        <div class="quick-search">
            <label for="per-page">Per page:</label>
            <input id="per-page" type="number" min="1" [max]="maxPerPage"
                   [(ngModel)]="perPage"
                   (ngModelChange)="perPageChange($event)">
            <input id="quick-search" type="checkbox" [(ngModel)]="quickSearch">
            <label for="quick-search">Return one page</label>
        </div>
        <button (click)="unescapeQuery()">Unescape query</button>
        <dql-templates (executeDql)="executeNewQuery($event)" (setDql)="setDql($event)"></dql-templates>
        <label for="docbase">Docbase:</label>
        <select id="docbase" [(ngModel)]="currentDocbase">
            <option *ngFor="let docbase of docbases;" [ngValue]="docbase">{{docbase}}</option>
        </select>
        <a href="logout">logout</a>
    </div>

    <textarea #dta
              class="textarea"
              placeholder="Enter DQL query and press CTRL + Enter for execute, you can execute selected fragment through hotkey"
              [(ngModel)]="dqlQuery"
              (keydown.control.enter)="executeNewSelectedQuery(dta)">

    </textarea>
    <button class="execute-btn" (click)="executeNewQuery(dqlQuery)">Execute</button>
</div>

<div class="row query-result">
    <div *ngIf="isExecuting" class="loading"></div>
    <dql-result [dqlResult]="dqlResult"></dql-result>
    <dql-pagination [pageable]="dqlResult?.pageable" (selectPage)="selectPage($event)"></dql-pagination>
</div>