<div class="row" *ngIf="dqlResult != null">
    <div class="dql-result">
       <div class="info-block">
           <span>Lead time: {{dqlResult.leadTime}}ms</span>
           <strong *ngIf="dqlResult.errorText != null"><br>{{dqlResult.errorText}}</strong>
       </div>
        <table *ngIf="dqlResult.errorText == null">
            <thead>
            <tr>
                <th *ngFor="let attr of dqlResult.attributes">{{attr.name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of dqlResult.rows">
                <td *ngFor="let value of row.values">{{value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>