.dql-result {
    position: relative;
    margin-top: 1em;
    font-size: 1.3em;
}

.info-block {
    margin-left: 5%;
}

.dql-result table {
    margin: auto;
    overflow-x: auto;
}

.dql-result table,
.dql-result th,
.dql-result tr,
.dql-result td {
    border: solid 1px #c0c0c0;
    text-align: center;
    padding: .2em;
}

.dql-result th {
    background: rgba(160, 222, 255, 0.81);
}

.dql-result tr:nth-child(2n) {
    background: rgba(171, 233, 208, 0.29);
}

.dql-result td:nth-child(2n) {
    background: rgba(233, 190, 199, 0.13);
}
